<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.naukma.cleaning.services.loggingService.CleaningLayout" />
        </encoder>
    </appender>

    <appender name="FILE" class="com.naukma.cleaning.services.loggingService.CleaningAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.naukma.cleaning" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE" />
    </logger>

</configuration>