<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container" th:classappend="${#authorization.expression('isAuthenticated()')?'logged_in':'logged_out'}">
        <form th:action="@{/signUp/success}" method="POST">
            <h2>Registration</h2>
            <p>Please fill in this form to create an account.</p>

            <p th:if="${#strings.toString(param.error)} == 'pass'" class="error-message">Password is not strong enough.</p>
            <p th:if="${#strings.toString(param.error)} == 'email'" class="error-message">Email already used.</p>

            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="name" required>

            <label><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit" class="confirmbtn">Register</button>
        </form>
        <form th:action="@{/login}" method="get">
            <button type="submit">Log in</button>
        </form>
    </div>
</body>

</html>
