<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<!--    <form th:action="@{/main/success}" method="POST">-->
<!--        <p>Name<input type="text" name="name" placeholder="name" /></p>-->
<!--        <p>Email<input type="text" name="email" placeholder="email" /></p>-->
<!--        <p>Password<input type="text" name="password" placeholder="password" /></p>-->
<!--        <p><input type="submit" />-->
<!--    </form>-->
<div class="container">
    <form th:action="@{/main/success}" method="POST">
        <h2>Registration</h2>
        <p>Please fill in this form to create an account.</p>

        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="name" required>

        <label><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit" class="registerbtn">Register</button>
    </form>
</div>
</body>

</html>